:root {
	--primary: #8ca2bd;
	--secondary: #ffed68;
	--tertiary: #b12704;
	--light: #fafafa;
	--dark: #272f32;
	--error: rgb(228, 46, 1);
	--spacing-one: calc(1rem * 0.5);
	--spacing-two: calc(1rem);
}

.jumbotron {
	background-image: url('../../assets/hero.jpg');
	background-size: cover;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	align-items: flex-start;
	background-attachment: fixed;
	background-position: 80%;
	padding-bottom: 1%;
}

.jumbotron-cta {
  border: 3px solid var(--dark);
  border-radius: 15px;
	width: 60%;
	text-align: center;
	margin: 3.5%;
  background-color: rgba(39, 47, 50, .6);
	color: rgba(140, 162, 189, 1);
	font-size: 18px;
	line-height: 1.2;
}

.jumbotron-cta h2 {
	font-style: italic;
	font-size: 55px;
	color: var(--primary-color);
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
